<?xml version="1.0" encoding="utf-8"?>
<!-- NativeActivity + lib_name manifest with BOTH launcher intent
     categories (Quest launchers have historically honored only the vendor
     one) and the required headtracking feature. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvidia.mujocoxr"
    android:versionCode="1"
    android:versionName="0.1">

  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="32"/>
  <uses-feature android:name="android.hardware.vr.headtracking"
      android:required="true"/>

  <application android:label="MuJoCoXR"
      android:hasCode="false"
      android:allowBackup="false"
      android:extractNativeLibs="true">
    <activity android:name="android.app.NativeActivity"
        android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density"
        android:launchMode="singleTask"
        android:screenOrientation="landscape"
        android:exported="true">
      <meta-data android:name="android.app.lib_name"
          android:value="mujocoxr"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="com.oculus.intent.category.VR"/>
        <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
